@import '../colors.scss';

.accordion-item {
    margin-bottom: 5px;
    border-width: 0;
    
    &.card {
        .card-header {
            background: $white;

            button {
                color: $gray-800 !important;
            }

            span {
                color: $gray-400 !important;
            }
        }

        &[data-status='Opened'],
        &[data-status='Opening'] {
            .card-header {
                button {
                    font-weight: bold;
                }
            }
        }
    }
}