/* Grayscale Variables */
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

/* Color Variables */
$blue: #005c83;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e73c3a;
$orange: #f37b20;
$yellow: #f9b816;
$green: #8dc63f;
$teal: #0096a0;
$cyan: #00aeef;

/* Theme Color Variables */
$primary: $cyan;
$secondary: $gray-600;
$success: $green;
$info: $orange;
$warning: $yellow;
$danger: $red;
$light: $gray-300;
$dark: $gray-800;
$body-bg: $gray-100;