@function camel-case($string) {
    $progress: $string;
    $result: "";
    $exclude: " ", "-", "–", "—", "_", ",", ";", ":", ".";
    
    @while str-length($progress) > 0  {
        $char: str-slice($progress, 1, 1);
    
        @if contain($exclude, $char) {
           $progress: capitalize(str-slice($progress, 2, 2)) + str-slice($progress, 3);
        }
        @else {
            $result: $result + $char;
            $progress: str-slice($progress, 2);
        }
    }
    
    @return $result;
}

@function get-vw($x, $y) {
    $vw-context: ($y / $x) * 100;
    @return ($vw-context) * 1vh;
}

@function get-vh($x, $y) {
    $vh-context: ($y / $x) * 100;
    @return ($vh-context) * 1vw;
}