/**
* Override Bootstrap Variables before imporing
* For a list of available override, see the _variables.scss in the Boostrap directory
*/


@import './colors.scss';
@import './variables.scss';
@import './functions.scss';
@import './bootstrap_theme.scss';

/* Aspect Ratio Based Sizes */
@function get-vw($x, $y) {
    $vw-context: ($y / $x) * 100;
    @return ($vw-context) * 1vh;
}
@function get-vh($x, $y) {
    $vh-context: ($y / $x) * 100;
    @return ($vh-context) * 1vw;
}
@each $embed-responsive-aspect-ratio in $embed-responsive-aspect-ratios {
    $embed-responsive-aspect-ratio-x: nth($embed-responsive-aspect-ratio, 1);
    $embed-responsive-aspect-ratio-y: nth($embed-responsive-aspect-ratio, 2);

    .vh-#{$embed-responsive-aspect-ratio-x}by#{$embed-responsive-aspect-ratio-y} {
        height: get-vh($embed-responsive-aspect-ratio-x, $embed-responsive-aspect-ratio-y);
    }

    .vw-#{$embed-responsive-aspect-ratio-x}by#{$embed-responsive-aspect-ratio-y} {
        width: get-vw($embed-responsive-aspect-ratio-x, $embed-responsive-aspect-ratio-y);
    }
}

/* Overflow Classes */
$overflows: 'visible', 'hidden', 'scroll', 'auto';

@each $overflow in $overflows {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
            
            /* Breakpoint Full Overflow */
            .overflow-#{$infix}-#{$overflow} { overflow: $overflow !important; }

            /* Breakpoint Directional Overflow */
            .overflow-#{$infix}-x-#{$overflow} { overflow-x: $overflow !important; }
            .overflow-#{$infix}-y-#{$overflow} { overflow-y: $overflow !important; }
        }
    }
}

/* Position Classes */
.po-absolute { position: absolute !important; }
.po-relative { position: relative !important; }

/* Overlay Effect */
.overlay {
    * { z-index: -1 }

    &.overlay-dark {
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .35);
            z-index: 0;
        }
    }

    &.overlay-light {
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, .35);
            z-index: 0;
        }
    }
}