/*  Bootstrap Overrides */
$border-radius: 0;

$media-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$media-aspect-ratios: join(
  (
    (21 9),
    (16 9),
    (4 3),
    (1 1),
  ),
  $media-aspect-ratios
);