.dotUnselected {
    button {
        padding: 6px;
        border-radius: 50%;
        background: lightgray;
        box-shadow: none;
        border-width: 0;
        margin-right: 2px;
        margin-left: 2px;
        
        &:disabled {
            background: gray;
        }
    }
}